@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&display=swap');

body
 {margin : 0;
  padding: 0;
  font-family: Merriweather Sans; sans-serif;
  font-weight: lighter;
  font-kerning: auto;
  color: #3a3a3a
 }

nav ul {
list-style: none;
background-color:#E35A01;
text-align: right;
padding:0;
margin: 2px;
}

nav li {
    font-size: 1.4em;
    line-height: 35px;
    height: 35px;
    display:inline-block;
    margin-bottom: 1.8%;
    margin-top: 1.8%;
    margin-right: 2%;

}


nav a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    display:inline-block;
    margin-left:0px;
    letter-spacing: normal;

}

nav a:hover { 
color:#0048A4
 }

article {margin-left:20px;
}

h1 {color :#0048A4;
}

.logo {
float:left;
padding-left: 12px;
padding-top: 4px;
padding-bottom: 0px;
}

#sliderhero {overflow: hidden;} /* slider ID on Home page*/

#sliderhero figure {
    position:relative;
    width:500%;
    margin:0;
    padding-bottom: 15px;
    padding-top:5px;
    left:0;
    animation: 30s sliderhero infinite
    

}

#sliderhero figure img{ 
    width: 12%;
    float:left;
}

@keyframes sliderhero
{0% {left:0%;} /*1 photo*/
10% {left:0%;} /*1 photo*/
24% {left:-50%;} /*2 photo*/
32% {left:-50%;} /*2 photo*/
42% {left:-100%;} /*3 photo*/
49% {left:-100%;} /*3 photo*/
55% {left:-150%;} /*4 photo*/
61% {left:-150%;} /*4 photo*/
69% {left:-230%;} /*5 photo*/
76% {left:-230%;} /*5 photo*/
85% {left:-270%} /*6 photo*/
91% {left:-270%} /*6 photo*/
96% {left:-325%} /*7 photo*/
99% {left:-325%} /*7 photo*/
100% {left:0%}
}

.container {
    position: relative;
    text-align: center;
    color: rgb(137, 0, 0);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;

        .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


